body
{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #5b005b, #6a0101);
}

.container
{
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.queue-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.queue-element
{
    background: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.queue-element.fade-in
{
    transform: translateY(-20px);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.queue-element.fade-out
{
    transform: translateY(-20px);
    opacity: 0;
}

@keyframes fadeIn
{
    0%
    {
        transform: translateY(20px);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

button
{
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0011ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover
{
    background-color: #0011ff;
}

#output
{
    margin-top: 20px;
    font-weight: bold;
}